*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('C:\Users\ASUS\Desktop\Hacks\Recommender-System\public\assests\main_stone_1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#root{
    width: 69.6vw;
    height: 7.7vh;
    position: relative;
    top: 41.1vh;
    left: 19.6vw;
    color: white;
    font-size: 112px;
    animation: animat1 4s 0s infinite normal;
}