
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Popins','sans-serif';
}
#root{
    display:grid;
    grid-template-columns: 20% 20%;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(C:\Users\ASUS\Desktop\Hacks\Recommender-System\public\assests\bg.jpg);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    border:2px solid white;
    background: transparent;
    border-radius: 10px;
    font-size: 3em;
    color:aliceblue;
    backdrop-filter: blur(40px);
}
.container:hover{
    box-shadow: 4px 3px rgb(138, 243, 243);
    font-size: 3.2em;
    backdrop-filter: blur(80px);
    text-decoration:dotted;
}
.container:active{
    backdrop-filter: blur(0);
}