
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Popins','sans-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../public/assests/main1.png');
    background-size:100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
}
.login-box1{
    position: relative;
    width: 400px;
    height: 450px;
    border: 2px solid rgb(248, 245, 245);
    background: transparent;
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
}
.b1{
    font-size: 2em;
    color: #ffffff;
    text-align:center;
    padding-bottom: 5px;
}
.input-box1{
    position:relative;
    width:310px;
    margin:20px;
    /* padding-bottom: 35px; */
    border-bottom: 2px solid #ffffff;
    padding:5px 0 5px 0;
}
.input-box1 label{
    position:absolute;
    top:50%;
    left: 5px;
    transform: translateY(-30%);
    font-size: 1.2em;
    color: #ffffff;
    transition: 0.5s;
}
.input-box1 input:focus~label,
.input-box1 input:valid~label{
    top: -5px;
}

.input-box1 input{
    width: 100%;
    height: 50px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1.05em;
    color:#ffffff;
    padding:0 35px 0 8px;
}
.remember-forgot1{
    margin: -5px 0 5px 0;
    padding:10px 35px 20px 35px;
    color: #ffffff;
    display: flex;
    font-size: 1.05em;
    justify-content: space-between;
}
.remember-forgot1 label input{
    margin-right: 3px;

}
.remember-forgot1 a{
    color: #ffffff;
    text-decoration: none;
}
.remember-forgot1 a:hover{
    /* font-size: 1.05em; */
    color:rgb(43, 172, 219);
    text-decoration: underline;
}
.but1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 0 -5px 0;
    width:55%;
    height: 49px;
    border-radius: 50px;
    border:0.5px solid grey;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 1.4em;
    color:black;
    font-weight: 600;
    text-decoration: none;
}
.btn1:hover{
    font-size:1.45em;
}
.btn1:active{
    background-color: rgb(170, 219, 221);
}
p{
    color:#ffffff;
}
.already1{
    padding: 15px 0 0 0;
    margin-bottom: -10px;
    font-size: 1.05em;
}
.already1 a{
    padding-left: 10px;
    color:rgb(43, 172, 219);
}