*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Popins','sans-serif';
}
#root{
    display:flex;
    /* margin:0 30px 0 30px; */
    
    justify-content: space-between;
    align-items: center;
    /* padding : 0 20% 0 10%; */
    min-height: 100vh;
    background-color: aqua;
    /* background-image: url(C:\Users\ASUS\Desktop\Hacks\Recommender-System\public\assests\bg_main.png);
    background-size:100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover; */
    
}
.container{
    border: 2px solid white;
    width: 200px;
    height: 200px;
    font-size: 2em;
    font-weight: 500;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}